body {
    background: linear-gradient(135deg, #0F172A, #020617);
    color: #E0E0E0;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
    header {
  position: relative;
  center: 30px;
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 30px;
  color: white;
}
    p {
  color: purple;
}

}
